<div class="container">
  <h1>User Phone</h1>
  <form class="user-phone-data">

    <input
      type="text"
      placeholder="Phone"
      [formControl]="userPhone">

    <div *ngIf="userPhone.invalid && userPhone.touched">
      <p>Некорректный номер телефона</p>
    </div>

  </form>
  <h2>User Login and Password</h2>
  <form [formGroup]="formAccountRegistration">

    <label>Login</label>
    <input type="text" formControlName="userLogin">

    <label>Password</label>
    <input type="password" formControlName="userPassword">

    <button
      class="submit-form"
      [disabled]="formAccountRegistration.invalid">

      Submit
    </button>
  </form>
  <h2>User FirstName SecondName and Patronymic</h2>
  <form
    class="user-data-form"
    [formGroup]="userData">

    <label>First name</label>
    <input type="text" formControlName="firstName">

    <label>Second name</label>
    <input type="text" formControlName="secondName">

    <label>Patronymic</label>
    <input type="text" formControlName="patronymicName">

    <button
      class="submit-form"
      [disabled]="userData.invalid">

      Submit
    </button>
  </form>
</div>
