<button
  mat-fab
  routerLink="/posts">

    <mat-icon>bookmark</mat-icon>
</button>

<button
  mat-fab
  routerLink="/home">

     <mat-icon>home</mat-icon>
</button>
<button
  mat-raised-button
  color="accent"
  routerLink="/feed-back-request">

    Form
</button>
<button
  mat-raised-button
  color="warn"
  routerLink="/dashboard">

    Dashboard
</button>
<button
  mat-raised-button
  color="warn"
  routerLink="/forum">

  Forum
</button>
<button
  mat-raised-button
  color="warn"
  routerLink="/translator">

  Translate
</button>
<router-outlet></router-outlet>
