<div class="container">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input
        type="text"
        matInput
        [formControl]="userForm">
    </mat-form-field>

    <div>
      <button
        class="create-form-btn"
        mat-raised-button
        (click)="saveDataInForm()">

          Save
      </button>

      <button
        class="create-form-btn"
        mat-raised-button
        routerLink="/">

          Back
      </button>
    </div>

  </div>
</div>
